apiVersion: apps/v1
kind: Deployment
metadata:
  name: taxibooking-deployment
  labels:
    app: app1
spec:
  replicas: 3
  selector:
    matchLabels:
      app: app1
  template:
    metadata:
      labels:
        app: app1
    spec:
      containers:
        - name: app1
          image: devopsvmr/image1:v1.0.4
          ports:
            - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: app1-loadbalancer-service
  labels:
    app: app1
spec:
  type: LoadBalancer
  selector:
    app: app1
  ports:
    - port: 8080
      targetPort: 8080
